.wrap {
  background: url('//www.cbpc.ltd/public/topic/202009/img/main.jpg');
  background-size: cover;
  flex: 1;
  box-shadow: 1px 1px 3px 4px rgba(43, 62, 73, 0.6);
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  &::before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(18, 32, 192, 0.58);
    position: absolute;
    left: 0;
    top: 0;
  }

  .container {
    height: 720px;
    position: relative;
    overflow: hidden;
  }

  .content {
    padding: 20px;
    transition: transform 0.5s;
  }

  @font-face {
    font-family: 'genyomintw';
    src: url('//www.cbpc.ltd/public/topic/202009/fonts/font.ttf');
    font-style: normal;
    font-weight: normal;
  }
  .slogan {
    font-family: 'genyomintw';
    font-weight: bold;
  }

  .item {
    padding-bottom: 20px;
    height: 100px;
    .title {
      .slogan;
      font-size: 20px;
      margin-bottom: 8px;
      color: #f1cc01;
      display: flex;
      @imgSize: 36px;
      .header img {
        width: @imgSize;
        height: @imgSize;
        border-radius: 50%;
        margin-right: 8px;
      }
      align-items: center;
    }
    .comment {
      color: #fff;
      font-family: '方正小标宋简体';
      font-size: 26px;
    }
    .user {
      color: #fff;
    }
    &:nth-child(odd) {
      text-align: left;
      .title {
        justify-content: flex-start;
      }
    }
    &:nth-child(even) {
      text-align: right;
      .title {
        justify-content: flex-end;
      }
    }
  }
  .footer {
    background: #f1cc01;
    color: #3246bc;
    width: 60%;
    position: absolute;
    bottom: 5px;
    padding: 5px;
    left: 20%;
    text-align: center;
    font-weight: bold;
  }
}

.mobile{
  .item{
    height:114 !important;
    padding-bottom: 0 !important;
  }
  .container{
    height:auto !important;
  }
  .comment{
    font-size: 20px !important;
  }
  .title{
    font-size: 14px !important;
  }
}
