.wrap {
  background: url('//www.cbpc.ltd/public/topic/202009/img/01.jpg');
  background-size: cover;
  flex: 1;
  box-shadow: 1px 1px 3px 4px rgba(43, 62, 73, 0.6);
  position: relative;
  width: 100%;
  height: 100%;
  &::before {
    content: '';
    width: 100%;
    height: 50%;
    background: #0071b7;
    position: absolute;
    left: 0;
    top: 0;
  }
  .content {
    width: 100%;
    height: 100%;
    position: relative;
  }
}
